{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to products List</button></a></p>

<h1>{{ products.name }}</h1>
<p><b>{{ products.get_category_display }}</b>{% if products.is_featured %} | 
    <b>Featured</b>{% endif %}{% if products.is_bestseller %} | 
    <b>BestSeller</b>{% endif %} | <i>{{ products.created_at|date:"d M Y, H:i" }}</i> 
    | Solds: {{ products.sold_count }}</p>

{% if products.thumbnail %}
<img src="{{ products.thumbnail }}" alt="products thumbnail" width="300">
<br /><br />
{% endif %}

<p>{{ products.description }}</p>

{% if products.user %}
    <p>Author: {{ products.user.username }}</p>
{% else %}
    <p>Author: Anonymous</p>
{% endif %}


{% endblock content %}